<!DOCTYPE html>
<html>
<head>
	<title>New TodoList</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css"> <!-- Semantic UI -->
<link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    <div class="ui menu">
        <div class="item"><a href="/">home</a></div>
        <div class="item"><a href="#">about</a></div>
        <div class="right menu">
            <div class="ui transparent left icon input">
                <i class="search icon"></i>
                <input type="text" name="search" placeholder="search">
            </div>
            <div class="item"><a href="/">Login</a></div>
            <div class="item"><a href="#">Register</a></div>
            <div class="item"><a href="#">Logout</a></div>
        </div>
    </div>
