<!DOCTYPE html>
<html>
<head>
	<title>New TodoList</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css"> <!-- Semantic UI -->
<link rel="stylesheet" href="/stylesheets/main.css">
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
</head>
<body>
    <div class="ui orange inverted menu">
        <div class="item">
            <i class="edit icon"></i>
            Todo List
        </div>
        <div class="active item"><a href="/">home</a></div>
        <div class="item"><a href="#">about</a></div>
        <div class="right menu">
            <div class="ui transparent left icon input">
                <i class="search icon"></i>
                <input type="text" name="search" placeholder="search">
            </div>
            <% if (currentUser){ %>
                <div class="item">Sign in as <%= currentUser.username %></div>
                <div class="item"><a href="/logout">Logout</a></div>
            <% } else { %>
                <div class="item"><a href="/login">Login</a></div>
                <div class="item"><a href="/register">Register</a></div>
            <% } %>
            
            
        </div>
    </div>
