<% include ./partials/header %>

<div class="ui text container">
    <h1 class="ui header">
        Budy's Todo List
    </h1>
    <a href="/todo">Go to your todo list</a>
</div>

<% include ./partials/footer %>